
.health-drawer-header {
    text-align: center;
}

.health-content {
    margin-top: 16px;
}

.health-cell {
    padding: 16px 32px;
}

nav {
    line-height: 20px;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    line-height: 20px;
}

.demo-layout .demo-header .mdl-textfield {
    padding-top: 15px;
}

.mdl-textfield {
    padding: 0 0;
}

.form-header {
    padding: 16px 0 8px 0;
}

.mdl-snackbar {
    z-index: 1000;
    background-color: #6A6ACC;
    color: white;
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    -webkit-transition: opacity 2s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -moz-transition: opacity 2s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -ms-transition: opacity 2s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -o-transition: opacity 2s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    transition: opacity 2s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    opacity: 1;
}

.mdl-layout__container .show-toast {
    margin-top: 40px;
    transition: margin 2s cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.update-button {
    margin: 32px 0 0 0;
}

.profile-stat {
    margin: 16px 8px;
    display: flex;
    flex-direction: row;
}

.profile-stat--key {
    color: #9b9b9b;
 }

.profile-stat--value {
    margin-left: 16px;
}

.stat-block {
    margin-left: 8px;
}

.profile-block {
    margin: 16px 32px;
}

.profile-inline--value {
    font-style: italic;
    font-size: 1.3em;
    padding: 0 6px;
}