{% extends 'base.html' %}
{% load material_form %}

{% block content_title %}
    Add Health Record
{% endblock %}

{% block content %}
    <div class="mdl-shadow--2dp mdl-color--white mdl-cell--12-col health-cell">
    <div class="form-header mdl-typography--headline">Update health information</div>
    <form name="record-form">
        {% form form=record_form %}{% endform %}
    </form>
    <div class="form-header mdl-typography--headline">
        Physical Exercise
    </div>
    <form name="physical-form">
        {% csrf_token %}
        {% form form=phys_form %}{% endform %}
    </form>
    <div class="form-header mdl-typography--headline">
        Eating Info
    </div>
    <form name="eating-form">
        {% form form=eat_form %}{% endform %}
    </form>

    </div>
{% endblock %}