{% extends 'base.html' %}

{% block content_title %}
    Profile Listing
{% endblock %}

{% block content %}
    <div class="mdl-shadow--2dp mdl-color--white mdl-cell--12-col">
        <div class="mdl-layout__content health-cell">
            <table class="mdl-data-table mdl-js-data-table">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Name</th>
                </tr>
              </thead>
              <tbody>
              {% for profile in object_list %}
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">{{ profile.user.get_full_name }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock content %}