{% extends 'base.html' %}

{% block content_title %}
    Profile Listing
{% endblock %}

{% block content %}
    <div class="mdl-shadow--2dp mdl-color--white mdl-cell--12-col">
        <div class="mdl-layout__content health-cell">
            {% if object_list %}
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Username</th>
                        <th class="mdl-data-table__cell--non-numeric">E-mail</th>
                        <th class="mdl-data-table__cell--non-numeric">Height</th>
                        <th class="mdl-data-table__cell--non-numeric">Weight</th>
                        <th class="mdl-data-table__cell--non-numeric">BMI</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in object_list %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric"><a href="{% url 'profile_page' profile.pk %}">{{ profile.user.get_full_name }}</a></td>
                            <td class="mdl-data-table__cell--non-numeric">{{ profile }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ profile.user.email }}</td>
                            {% with profile.height_in_feet_and_inches as height %}
                                <td class="mdl-data-table__cell--non-numeric">{{ height.0 }}' {{ height.1 }}"</td>
                            {% endwith %}
                            <td class="mdl-data-table__cell--non-numeric">{{ profile.weight }} lbs</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ profile.calculate_bmi | floatformat }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>There were no profiles found with that name, email, or username.</p>
            {% endif %}

            {% if is_paginated %}
                <div class="pagination" style="width: 500px;">
                    <table style="margin:0 auto">
                    <span class="page-links">
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 100px">
                            {% if page_obj.has_previous %}
                                <a href="/records/all?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                        </td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 100px">
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric" style="width: 100px">
                            {% if page_obj.has_next %}
                                <a href="/records/all?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </td>
                    </tr>
                    </span>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
